<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorator="~{fragments/main_layout}"  >
<head>

    <title>Sign up form</title>

</head>
<body>


<div layout:fragment="content" class="container myContent">
    <div class="alert alert-danger" th:if="${param.error}">
        <h2>invalid email or password</h2>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="text" class="form-control" id="email" name="username"/>
        </div>
        <div class="form-group">
            <label for="password" class="form-control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>

</div>




</body>
</html>