<header th:fragment="header">

    <nav class="navbar fixed-top navbar-color-on-scroll navbar-expand-lg bg-primary" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">
                    Nearby Shops </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <input class="form-control mr-sm-2" type="hidden">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://cdn.hipwallpaper.com/i/64/15/ux39HE.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h1>Nearby Shops</h1>
                        <h4 class="title text-center">Developed By Taha Sadiki</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>